.mic-controls {
  margin-bottom: 15px;
}

.mic-header {
  margin-top: 0;
}

.num-mic-input {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 45px;
}

.mic-table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

.mic-table th,
.mic-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.mic-table th {
  background-color: #f2f2f2;
}

.mic-table td:first-child {
  background-color: #f2f2f2;
}
