/* App.css */
.container {
  padding: 20px;
}

.split-container {
  display: flex;
}

.left-panel {
  width: 39%;
}

.right-panel {
  width: 60%;
}

.divider-line {
  width: 3px;
  background-color: #ccc;
  height: 100%;
  margin: 0 20px;
}
