/* App.css */
.container {
  padding: 20px;
}

.split-container {
  display: flex;
}

.left-panel {
  width: 39%;
}

.right-panel {
  width: 60%;
}

.divider-line {
  width: 3px;
  background-color: #ccc;
  height: 100%;
  margin: 0 20px; /* Adjust the margin as needed */
}

/* Preserve existing stylings */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 24px; /* Adjust the font size as needed */
}

.header-controls {
  display: flex;
  gap: 10px;
}

.scene-name-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.add-button {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.scenes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
