/* App.css */
.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  margin: 0;
}

.add-button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.scenes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
